* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#menu-bar {
    cursor: pointer;
    display: none;
}

#login {
    margin-top: 3rem;
    margin-left: 1rem;
    font-size: 1.2rem;
    color: lightseagreen;
    display: flex;
}

#login-icon {
    margin-top: 7px;
    margin-left: 10px;
}

#search-field {
    margin-top: 5rem;
}

#side-signup {
    margin-left: 1.3rem;
}
.sidebar-account-address{
    display: flex;
    gap:1.5rem;
    margin-top: 1rem;
    margin-left: 2.2rem;
    color: lightseagreen;
}
.sidebar-account-address:hover{
    background-color: lightseagreen;
    color:white;
}
#sidebar-address-icon{
    margin-top: 3px;
}
@media (max-width:480px) {
    #menu-bar {
        display: block;
    }

}